body {
    background-image: url("images/pet-paw.jpg");
    background-attachment: fixed;
    font-family: 'Cooper', cursive;
}

img {
    height: 400px;
    width:350px;
    border: 1px black solid;
   
}

.flexbox-item {
   margin-left: 2.5%;
   margin-right: 2.5%;
}
h1 {
    
    color: rgb(73, 51, 35);
    margin: auto;
    text-align: center;
    font-size: 2rem;
    
}

h1:hover {
	color: rgb(36, 149, 184);
}
h2 {
    text-align: center;
    background-color: rgb(196, 183, 181);
    color:rgb(73, 51, 35);
    font-size: 30px;
}
h2:hover {
	color: rgb(36, 149, 184);
}


h3 {
    text-align: center;
    color:rgb(73, 51, 35);
    font-size: 20px;
}
h3:hover {
	color: rgb(36, 149, 184);
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   

}

button {
    font-family: 'Cooper', cursive;
    background-color:beige;
    color:rgb(73, 51, 35);
    font-size: 15px;
    
}

tbody {
    
    color:rgb(73, 51, 35);

}

    
#submit1, #submit2, #submit3, #submit4, #submit5{
    margin-left:15%;
}