body, html {
    
    margin: 0;
}
.bg {
/*The image used*/
background-image: url("images/labrador.jpg");
    /*Full height*/
    height: 100%;
/*center and scale the image*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
h1 {
    color: red;
    line-height: 2;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 2rem;
}


h1:hover {
	color: blanchedalmond;
} 
h3 {
    color: red;
    line-height: 2;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 2rem;
}

h3:hover {
	color: blanchedalmond;
} 
p {
    color: blanchedalmond;
    margin-left: 15px;
    font-size: 1.2rem;
    text-align: match-parent;
}
.flex-container {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;

row-gap: 30px;
text-align: center;
}
       
  
  
.flex-container > div {
margin: 54px;
padding: 0px 0px 200px 0px;

}
.flexone {
flex-grow: 2;

}

.flextwo {
width: none;

}
.flexthree {
flex: 1;
  
 
    
   

background-color: rgba(255, 235, 205, 0.103);
margin: 100px;
padding: 40px;
border: 20px solid blanchedalmond  ;
    
    border-image: url("images/bones\ \(2\).png")
    533 /                    /* slice */
    48px 48px 48px 48px /    /* width */
    24px 24px 24px 24px       /* outset */
    round;                  /* repeat */
}
