body, html {
    
    margin: 0;
}
.bg {
/*The image used*/
background-image: url("images/puppy.jpg");
    /*Full height*/
    height: 100%;
/*center and scale the image*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
h1 {
    color: red;
    background-color: rgb(230, 230, 208);
    margin: auto;
    text-align: center;
    font-size: 2rem;
}


h1:hover {
	color: rgb(36, 149, 184);

} 
h2 {
    color: red;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}


h2:hover {
	color: rgb(36, 149, 184);
    
} 
h3 {
    color: red;
    line-height: 2;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 1.5rem;
}

h3:hover {
	color: rgb(36, 149, 184);
} 
p {
    color: rgb(36, 149, 184);
    margin-left: 15px;
    
    text-align: match-parent;
}
@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}
.menu-main li {
  float: none;
  display: inline-block;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .ul {
    background: #ECDAD6;
  }
  .ul a {
    color: #695753;
  }
  .submenu {
    display: none;
    background: #b19891;
  }
  .ul li:hover .submenu {
    display: block;
  }

.flex-container {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;

row-gap: 30px;
text-align: center;
}
       
  
  
.flex-container > div {
margin: 54px;
padding: 0px 0px 200px 0px;

}
.flexone {
flex-grow: 2;

}

.flextwo {
width: none;

}
.flexthree {
flex: 1;
 
 
    
   

background-color: rgba(255, 235, 205, 0.103);
margin: 100px;

border: 20px solid blanchedalmond  ;
    
    border-image: url("images/bones\ \(2\).png")
    533 /                    /* slice */
    48px 48px 48px 48px /    /* width */
    24px 24px 24px 24px       /* outset */
    round;                  /* repeat */
}
